$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "." !default;

$icon-paper-plane-o: "\e900";
$icon-send-o: "\e900";
$icon-clock-o: "\e901";
$icon-map-o: "\e902";
$icon-github: "\e903";
$icon-linkedin-square: "\e904";
$icon-stack-overflow: "\e905";

