@font-face {
    font-family: 'Lemon/Milk';
    src: url(LemonMilkbolditalic.eot);
    src: url(LemonMilkbolditalic.eot?#iefix) format('embedded-opentype'),
        url(LemonMilkbolditalic.woff2) format('woff2'),
        url(LemonMilkbolditalic.woff) format('woff'),
        url(LemonMilkbolditalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lemon/Milk';
    src: url(LemonMilklight.eot);
    src: url(LemonMilklight.eot?#iefix) format('embedded-opentype'),
        url(LemonMilklight.woff2) format('woff2'),
        url(LemonMilklight.woff) format('woff'),
        url(LemonMilklight.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon/Milk';
    src: url(LemonMilk.eot);
    src: url(LemonMilk.eot?#iefix) format('embedded-opentype'),
        url(LemonMilk.woff2) format('woff2'),
        url(LemonMilk.woff) format('woff'),
        url(LemonMilk.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon/Milk';
    src: url(LemonMilklightitalic.eot);
    src: url(LemonMilklightitalic.eot?#iefix) format('embedded-opentype'),
        url(LemonMilklightitalic.woff2) format('woff2'),
        url(LemonMilklightitalic.woff) format('woff'),
        url(LemonMilklightitalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lemon/Milk';
    src: url(LemonMilkbold.eot);
    src: url(LemonMilkbold.eot?#iefix) format('embedded-opentype'),
        url(LemonMilkbold.woff2) format('woff2'),
        url(LemonMilkbold.woff) format('woff'),
        url(LemonMilkbold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon/Milk';
    src: url(LemonMilkitalic.eot);
    src: url(LemonMilkitalic.eot?#iefix) format('embedded-opentype'),
        url(LemonMilkitalic.woff2) format('woff2'),
        url(LemonMilkitalic.woff) format('woff'),
        url(LemonMilkitalic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

