@import "../common";

.namesContainer {
  @extend .fontLemonMilk;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 3.2em;
  padding: .3em;
  transition: .3s all;
  margin-top: 10px;
  margin-bottom: 10px;

  .firstName {
    color: white;
  }

  .lastName {
    color: $secondary;
  }

  &.homepage {
    writing-mode: unset;
    text-orientation: unset;
    transform: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .firstName, .lastName {
      display: block;
      text-align: center;
      line-height: 2em;
    }
  }
}
