@import "../common";

.pageContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pageContent {
    @extend .fontRobotoLt;
    background: $lightgrey;
    width: 70%;
    padding: 3em;
  }
}

@include media("<=tablet") {
  .pageContainer {
    .pageContent {
      width: 100%;
    }
  }
}

@include media(">=desktop") {
  .pageContainer {
    .pageContent {
      width: 60%;
    }
  }
}
