@import "../common";

.entry {
  background: white;
  margin-top: 1em;

  .content {
    padding: 1em;

    .title {
      @extend .fontLemonMilk;
      font-weight: normal;
      color: $primary;
      margin-bottom: 10px;

      a {
        color: inherit;
      }
    }

    .description {
      color: black;
    }

    .tags {
      margin-top: 10px;

      .tag {
        background-image: linear-gradient(to bottom right, $secondary, $primary);
        border-radius: 4px;
        padding: .2em .8em;
        font-size: .7em;
        margin-right: 5px;
        color: white;
      }
    }
  }
}
