@import "../common";

.sidebarSpacer {
  width: 100%;
  transition: .3s all;

  &.homepage {
    display: none;
  }
}

.sidebar {
  background: $primary;
  height: 100vh;
  width: inherit;
  transition: .3s all;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .label {
    display: none;
  }

  .raccoonContainer {
    width: 80%;
    transition: .3s all;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  .menuToggle {
    display: none;
    cursor: pointer;
    margin-top: 1.2em;

    .bar1, .bar2, .bar3 {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
  }

  .arrow {
    display: none;
    border: solid white;
    border-width: 0 5px 5px 0;
    padding: 15px;
    transform: rotate(45deg);
    margin-bottom: 20px;
  }

  .bounce {
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, -10px, 0); }
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: auto;
    padding-top: .3em;
    padding-bottom: .3em;

    a {
      color: white;
      transition: .2s color;

      &:hover {
        color: $secondary;
      }
    }
  }

  &:not(.homepage) {
    position: fixed;

    &.active {
      .menu {
        width: 200px;
      }
    }

    .menu {
      position: absolute;
      left: 100%;
      height: 100%;
      width: 0;
      background: $primary;
      top: 0;
      overflow: hidden;
      transition: .3s all;

      .container {
        padding: .7em;
      }

      .item {
        @extend .fontLemonMilk;
        display: block;
        font-size: 1.5em;
        margin-top: .5em;
        margin-bottom: .5em;

        .first, .rest {
          color: white;
        }

        .first {
          transition: .2s all;
        }

        &:hover {
          .first {
            color: $secondary;
          }
        }
      }
    }
  }

  &.homepage {
    width: 100%;

    .social {
      width: 100px;
    }

    .menu {
      display: none;
    }

    .raccoonContainer {
      width: 40%;
      flex: 0.8;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
        text-align: center;
      }

      .label {
        @extend .fontLemonMilk;
        display: block;
        color: white;
        margin-top: 1em;
        font-size: 1.5em;
      }
    }
  }
}

@include media(">tablet") {
  .sidebar {
    &:hover {
      .menu {
        width: 200px;
      }
    }
  }
}

@include media("<=tablet") {
  .sidebar {
    position: relative;

    &.homepage {
      width: 100%;

      .arrow {
        display: block;
      }
    }

    &:not(.homepage) {
      .menuToggle {
        display: inline-block;
      }
    }

    .social {
      display: none;
    }
  }
}
