@import "../common";

.sidebarSpacer {
  width: 100%;
  transition: .3s all;

  &.homepage {
    display: none;
  }
}

.sidebar {
  background: $primary;
  height: 100vh;
  width: inherit;
  transition: .3s all;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .label {
    display: none;
  }

  .raccoonContainer {
    width: 80%;
    transition: .3s all;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: auto;
    padding-top: .3em;
    padding-bottom: .3em;

    a {
      color: white;
      transition: .2s color;

      &:hover {
        color: $secondary;
      }
    }
  }

  &:not(.homepage) {
    position: fixed;

    .menu {
      position: absolute;
      left: 100%;
      height: 100%;
      width: 0;
      background: $primary;
      top: 0;
      overflow: hidden;
      transition: .3s all;

      .item {
        @extend .fontLemonMilk;
        display: block;
        font-size: 1.5em;
        margin-top: .5em;
        margin-bottom: .5em;

        .first, .rest {
          color: white;
        }

        .first {
          transition: .2s all;
        }

        &:hover {
          .first {
            color: $secondary;
          }
        }

        &.active {

        }
      }
    }

    &:hover {
      .menu {
        width: 200px;
      }
    }
  }

  &.homepage {
    width: 100%;

    .social {
      width: 100px;
    }

    .menu {
      display: none;
    }

    .raccoonContainer {
      width: 40%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .label {
        @extend .fontLemonMilk;
        display: block;
        color: white;
        margin-top: 1em;
        font-size: 1.5em;
      }
    }
  }
}

@include media("<=tablet") {
  .sidebar {
    position: relative;

    &.homepage {
      width: 100%;
    }
  }
}
