@import "../../common";

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  .left, .right {
    min-height: 100vh;
    display: flex;
  }

  .left {
    width: 100px;
  }

  .right {
    flex: 1;
  }

  &.homepage {
    .left {
      width: 50%;
    }
  }
}

@include media("<=tablet") {
  .app {
    font-size: 70%;

    &:not(.homepage) {
      .left {
        width: 50px;
      }
    }

    &.homepage {
      flex-direction: column;

      .left {
        width: 100%;
      }
    }
  }
}
