.holder {
  display: flex;
  flex-direction: row;
  align-items: center;

  .message {
    margin-left: 10px;

    &.success {
      color: #4BB543;
    }

    &.error {
      color: #cc0000
    }
  }
}