@import "../../common";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .top, .bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top {
    .description {
      @extend .fontLemonMilk;
      width: 80%;
      color: $primary;
      font-size: 3.2em;
      text-align: center;
      line-height: 2em;
    }
  }

  .bottom {
    .buttonsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 80%;
    }
  }
}
