@import "../../../common";

.btn {
  @extend .fontLemonMilk;
  background: $primary;
  color: white;
  padding: .5em;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:link, &:visited, &:hover, &:active {
    text-decoration: none !important;
  }

  &:disabled {
    background: lighten(grayscale($primary), 20%);
  }
}
