@import "./variables";
@import "assets/fonts/LemonMilk/stylesheet";
@import "assets/fonts/Roboto/stylesheet";
@import "assets/fonts/Icomoon/style";

.fontLemonMilk {
  font-family: 'Lemon/Milk';
  font-weight: bold;
}

.fontRobotoLt {
  font-family: 'Roboto Lt';
}

.fontRoboto {
  font-family: 'Roboto';
  font-weight: bold;
}

a {
  text-decoration: none;
}
